<! doctype html>
<html>
    <head>
        <link rel="stylesheet" href='./style.css' >
        <link rel="icon" href='./w.png' >
        <script src="./panda.js"> </script src="./panda.js">
        </head>
        <body>
            <div class="mainn"> 
                {{>header}}

<p>This website is created by Aysuhi Midha.Data is coming from darksky and mapbox </p>
<img src='./panda.jpg'>
                </div>

            
{{>footer}}
            </body>
    </html>