<! doctype html>
<html>
    <head>
        <link rel="stylesheet" href='./style.css' >
        <link rel="icon" href='./w.png' >
        
        </head>
        <body>
 <div class='mainn'>
{{>header}}
<p>
    Use this site to undersatnd weather
</p>
<form>
    <input placeholder="Location">
    <button> Search </button>
    </form>
    <p id='m'></p>
<p id='n'> </p>                
</div>

{{>footer}}
<script src="./panda.js"> </script>
            </body>
    </html>