<! doctype html>
<html>
    <head>
        <link rel="stylesheet" href='./style.css' >
        <link rel="icon" href='./w.png' >
        <script src="./panda.js"> </script>
        </head>
        <body>
            <div>
                {{>header}}

                </div>

            
{{>footer}}
<script>console.log("gytfvtuywqg")</script>
            </body>
    </html>